# 🐍 Environnement virtuel
venv/

# 🗂️ Données locales
data/*
!data/markets.csv

# 🐍 Python caches & bytecode
__pycache__/
*.py[cod]
*.pyo

# 📦 Dépendances compilées ou temporaires
*.egg-info/
.eggs/
dist/
build/

# 🔐 Clés et secrets
firebase-key.json
config/firebase_credentials.json
.env
.env.*
secrets.toml

# 📊 Streamlit cache & config
.streamlit/
**/.streamlit/
**/.streamlit/config.toml
**/.streamlit/credentials.toml

# 🖥️ Fichiers système
.DS_Store
Thumbs.db